{% extends "djorg_base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bookmarks/style.css' %}" />

<div class="ToggleNewBookmarkButtonDiv">
  <button class="ToggleNewBookmarkButton" id="ToggleNewBookmarkButtonId" onclick="ToggleNewBookmarkForm()">
    +
  </button>
</div>

{% include "bookmarks/forms.html" %}

<h1 class="Title">Public Bookmarks</h1>

{% if bookmarks %}
<ol class="Bookmarks">
  {% for bookmark in bookmarks %}
  <li>
    <a class="ListItemHref" href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}</a>
  </li>
  {% endfor %}
</ol>

{% else %}
<p class="NoBookmarks">No bookmarks</p>
{% endif %}

<h1 class="Title">Personal Bookmarks</h1>

{% if personal_bookmarks %}
<ol class="Bookmarks">
  {% for bookmark in personal_bookmarks %}
  <li>
    <a class="ListItemHref" href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}</a>
  </li>
  {% endfor %}
</ol>

{% else %}
<p class="NoBookmarks">No personal bookmarks</p>
{% endif %} {% endblock %}