{% extends "djorg_base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'bookmarks/style.css' %}" />

<div class="StatusBar">
  <form class="DeleteAllBookmarksButtonDiv" method="POST">
    {% csrf_token %}
    <input type="hidden" name="delete_all" value="delete_all_confirm" />
    <button class="DeleteAllBookmarksButton" type="submit">
      x
    </button>
  </form>
  <div class="ToggleNewBookmarkButtonDiv">
    <button class="ToggleNewBookmarkButton" id="ToggleNewBookmarkButtonId" onclick="ToggleNewBookmarkForm()">
      +
    </button>
  </div>
</div>

{% include "bookmarks/forms.html" %}

<h1 class="Title">Public Bookmarks</h1>

{% if bookmarks %}
<ul class="Bookmarks">
  {% for bookmark in bookmarks %}
  <div class="Bookmark">
    <form class="DeleteBookmarkForm" method="POST">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ bookmark.id }}" />
      <button class="DeleteBookmarkButtonSubmitButton" type="submit">x</button>
    </form>
    <li class="ListItem ">
      <a class="ListItemHref " href="{{ bookmark.url }} " target="_blank ">{{ bookmark.name }}</a>
    </li>
  </div>
  {% endfor %}
</ul>
{% else %}

<p class="NoBookmarks ">No bookmarks</p>
{% endif %}

<h1 class="Title ">Personal Bookmarks</h1>

{% if personal_bookmarks %}
<ol class="Bookmarks ">
  {% for bookmark in personal_bookmarks %}
  <li>
    <a class="ListItemHref " href="{{ bookmark.url }} " target="_blank ">{{ bookmark.name }}</a>
  </li>
  {% endfor %}
</ol>

{% else %}
<p class="NoBookmarks ">No personal bookmarks</p>
{% endif %} {% endblock %}